body{
  background: #ddd;
  color: #444;
  font-family: sans-serif;
}
#players {
  float: left;
  width: 6em;
}
#history {
  float: left;
  margin-top: 0;
  width: 8em;
}
#history li {
  cursor: pointer;
  border: 1px solid;
  float: left;
  margin-bottom: .5em;
  padding: .2em;
}
#history li.current {
  background: #3cf;
}
button {
  cursor: pointer;
  border: 1px solid;
  float: left;
  margin-bottom: .5em;
  padding: .5em;
  font-size: 1em;
}
